# -------------------------
# Database Configuration
# -------------------------
DATABASE_URL=

# -------------------------
# JWT Secrets
# -------------------------
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# -------------------------
# API Keys
# -------------------------
BACKEND_WORKER_API_KEY=

# -------------------------
# Ports
# -------------------------
BACKEND_SERVICE_PORT=
BACKEND_SERVICE_WEBSOCKET_PORT=

# -------------------------
# Service Urls
# -------------------------
FRONTEND_SERVICE_URL=
WORKER_SERVICE_URL=

# -------------------------
# Admin Credentials
# -------------------------
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=

# -------------------------
# Node Environment
# -------------------------
NODE_ENV=
